body{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    font-family: sans-serif;
}

.card{
    background-color: white;
    box-shadow: 0 0 10px 10px rgb(168, 168, 168);
    width: 850px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border-radius: 12px;
   
}